<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="main">
<head>
    <title>PetShop - Finalizar pedido</title>
</head>
<body>
    <div layout:fragment="content">
        <section class="slider-area" style="background-image: url(../img/slider/4.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="slider">
                            <h2>Finalizar pedido</h2>
                            <p><a th:href="@{/}">Inicio </a><span>/</span> Finalizar pedido</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <form action="#" th:action="@{/checkout}" th:object="${order}" class="m-t" method="post" role="form" data-toggle="validator">
            <section id="checkout-content">
                <div class="container">
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message alert alert-danger" role="alert"></div>
                    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="validation-message alert alert-danger" role="alert"></div>
                    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message alert alert-danger" role="alert"></div>
                    <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="validation-message alert alert-danger" role="alert"></div>
                    <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="validation-message alert alert-danger" role="alert"></div>
                    <div th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="validation-message alert alert-danger" role="alert"></div>
                    <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="validation-message alert alert-danger" role="alert"></div>
                    <div th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="validation-message alert alert-danger" role="alert"></div>
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <div class="section-title2">
                                <h1><b>Información del pedido</b></h1>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Correo electrónico <span>*</span></label>
                                    <input th:field="*{email}" required="required" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Nombre(s) <span>*</span></label>
                                    <input th:field="*{firstName}" required="required" type="text">
                                </div>
                                <div class="col-lg-6">
                                    <label>Apellido(s) <span>*</span></label>
                                    <input th:field="*{lastName}" required="required" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Dirección <span>*</span></label>
                                    <input th:field="*{address}" required="required" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Ciudad <span>*</span></label>
                                    <input th:field="*{city}" required="required" type="text">
                                </div>
                                <div class="col-lg-6">
                                    <label>Código postal <span>*</span></label>
                                    <input th:field="*{postalCode}" required="required" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Teléfono <span>*</span></label>
                                    <input th:field="*{phone}" required="required" type="text">
                                </div>
                                <div class="col-lg-6">
                                    <label>País<span>*</span></label>
                                    <input th:field="*{country}" required="required" type="text">
                                </div>
                            </div>
                            <div class="row" sec:authorize="isAuthenticated()">
                                <div class="col-lg-6 create-account">
                                    <input th:field="*{createAccount}" type="checkbox"> <span><strong>¿Crear cuenta?</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 right-checkout">
                            <div class="section-title2">
                                <h1><b>Tu pedido</b></h1>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Notas</label>
                                    <textarea th:field="*{notes}" placeholder="Comentarios adicionales"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="cart-page">
                <div class="container">
                    <div class="cart-total-box row">
                        <div class="col-lg-12 create-account">
                            <button type="submit">Realizar pedido</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
    <th:block layout:fragment="scripts">
    <script th:src="@{/js/bootstrap.validator.min.js}"></script>
    </th:block>
</body>
</html>