<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org" layout:decorator="main">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>PetShop - Registro Citas</title>
<th:block layout:fragment="styles">
	<link th:href="@{/css/sweetalert.min.css}" rel="stylesheet">
</th:block>
<script th:inline="javascript">
	$(function() {
		$('.datepicker').datepicker({
			format : 'dd/mm/yyyy'
		});
	});
</script>
</head>
<body>
	<div layout:fragment="content">
		<section class="slider-area"
			style="background-image: url(../img/slider/4.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="slider">
							<h2>Registro de citas</h2>
							<p>
								<a th:href="@{/}">Inicio </a><span>/</span> Registro de citas
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="welcome-area">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="welcome">
							<form action="#" th:action="@{/quote}" method="post" class="m-t"
								role="form" data-toggle="validator">
								<div th:if="${confirmationMessage}" class="alert alert-success"
									role="alert" th:text="${confirmationMessage}"></div>
								<div th:if="${errorRegisteredMessage}"
									class="alert alert-danger" role="alert"
									th:text="${errorRegisteredMessage}"></div>
								<p>El horario de Atencion solo sera de 10:00 am a 9:00 pm</p>
								
								<div th:if="${isPay == true}">
								
								<p>Se debe de pagar primero para registrar la cita</p>
								
								<div class="form-group input-group has-feedback">
									<span class="input-group-addon"> <span
										class="glyphicon glyphicon"></span>
									</span> <select th:field="*{quote.servicioId}" id="serviceId"
										class="form-control" onchange="getId(this)">
										<option th:each="oneServicio : ${servicios}" 
											th:value="${oneServicio.id}" th:text="${oneServicio.tipoServicio}"></option>
									</select>
								</div>
								
								<div id="paypal-button"></div>
								<script src="https://www.paypalobjects.com/api/checkout.js"></script>
								<script th:inline="javascript">
								
								var num = 0;
								var servicios = /*[[${servicios}]]*/'default';
								var pagar = 0
																
								var select = document.getElementById("serviceId");
							    if(select.options.length > 0) {
							    	option = select.options[select.selectedIndex];
							    	
							    	for(var i = 0; i< servicios.length; i++){
								    	if(servicios[i].id == option.value){
								    		num = servicios[i].precioServicio;
								    	}
								    }
							    	
							    	pagar = num / 3.2
							    }

								function getId(selectObject) {
									for(var i = 0; i< servicios.length; i++){
								    	if(servicios[i].id == selectObject.value){
								    		num = servicios[i].precioServicio;
								    	}
								    }
									
									pagar = num / 3.2
								}
							    
							    
									
									paypal.Button
											.render(
													{
														// Configure environment
														env : 'sandbox',
														client : {
															sandbox : 'AXeNjots0Z3Xi5zroVgnN0hYelJv5I2dTDidyNjxj8TiI2a3oB5Zc5YnpU4VfqD1mNNzKxHxF-a78r54',
															production : 'EBe1Q1mb9b63e-dDt96DQPNYHF3BF1sAA2yVcE6WzaFB2Kp85cyWkB6D6Q-bUgLHspstnxS8vZJL1b_U'
														},
														// Customize button (optional)
														locale : 'es_PE',
														style : {
															size : 'small',
															color : 'gold',
															shape : 'pill',
														},
														// Set up a payment
														payment : function(
																data, actions) {
															return actions.payment
																	.create({
																		transactions : [ {
																			amount : {
																				total : pagar.toFixed(2),
																				currency : 'USD'
																			}
																		} ]
																	});
														},
														// Execute the payment
														onAuthorize : function(
																data, actions) {
															return actions.payment
																	.execute()
																	.then(
																			function() {
																				
																				$.ajax({
																		            type: 'get',
																		            url: '/cita/pay',
																		            success: function (response) {
																		            	console.log("pago");
																		            	window.location.href = "/cita/pay";
																		            },
																		            error: function (e) {
																		                // alert("Error");
																		                console.log('Error: ', e);
																		            }
																		        });
																				
																			});
														}
													}, '#paypal-button');
								</script>
							</div>
							
								<div th:if="${isRegistro == true}">
								<div class="form-group input-group has-feedback"
									style="display: none">
									<span class="input-group-addon"> <span
										class="glyphicon glyphicon-user"></span>
									</span> <input type="text" th:field="*{quote.id}" placeholder="Id"
										class="form-control">
								</div>
								<div class="form-group input-group has-feedback"
									style="display: none">
									<span class="input-group-addon"> <span
										class="glyphicon glyphicon-user"></span>
									</span> <input type="text" th:field="*{quote.name}"
										placeholder="Nombres" class="form-control">
								</div>
								<div class="form-group input-group has-feedback"
									style="display: none">
									<span class="input-group-addon"> <span
										class="glyphicon glyphicon-user"></span>
									</span> <input type="text" th:field="*{quote.lastname}"
										placeholder="Apellidos" class="form-control">
								</div>
								<div class="form-group input-group has-feedback"
									style="display: none">
									<span class="input-group-addon"> <span
										class="glyphicon glyphicon-user"></span>
									</span> <input type="text" th:field="*{quote.phone}"
										placeholder="Telefono" class="form-control">
								</div>
								<div class="form-group input-group has-feedback"
									style="display: none">
									<span class="input-group-addon"> <span
										class="glyphicon glyphicon-user"></span>
									</span> <input type="text" th:field="*{quote.email}"
										placeholder="Correo" class="form-control">
								</div>
								<div class="form-group input-group has-feedback">
									<span class="input-group-addon"> <span
										class="glyphicon glyphicon-user"></span>
									</span> <input type="text" th:field="*{quote.mascota}"
										placeholder="Nombre mascota" class="form-control" required>
								</div>
								<div class="form-group input-group has-feedback">
									<span class="input-group-addon"> </span> <input type="text"
										th:field="*{quote.color}" placeholder="Color mascota"
										class="form-control">
								</div>
								<div class="form-group input-group has-feedback">
									<span class="input-group-addon"> </span> <input type="text"
										th:field="*{quote.tamano}" placeholder="Tamaño mascota"
										class="form-control">
								</div>
								<div class="form-group input-group has-feedback">
									<span class="input-group-addon"> <span
										class="glyphicon glyphicon-user"></span>
									</span> <input type="text" th:field="*{quote.descripcion}"
										placeholder="Descripción mascota" class="form-control">
								</div>
								<div class="form-group input-group has-feedback">

									<div class="input-group date" data-provide="datepicker"
										data-date-format="dd/mm/yyyy">
										<span class="input-group-addon"> <span
											class="glyphicon glyphicon-calendar"></span>
										</span> <input type="text" th:field="*{quote.register_date}"
											placeholder="Fecha de reserva" class="form-control"
											readonly="true" required>
									</div>
									<!--</div>-->
								</div>
								<div class="form-group input-group has-feedback">
									<span class="input-group-addon"> <span
										class="glyphicon glyphicon"></span>
									</span> <select th:field="*{quote.horarioId}" id="userId"
										class="form-control">
										<option th:each="oneHorario : ${horario}"
											th:value="${oneHorario.id}" th:text="${oneHorario.hora}"></option>
									</select>
								</div>
								<div class="form-group input-group has-feedback">
									<span class="input-group-addon"> <span
										class="glyphicon glyphicon"></span>
									</span> <select th:field="*{quote.tipo_mascota}" class="form-control"
										required>
										<option id="0" value="cita">Seleccione tipo de
											mascota</option>
										<option id="1" value="perro">Perro</option>
										<option id="2" value="gato">Gato</option>
									</select>
								</div>

								<div class="form-group input-group has-feedback">
									<span class="input-group-addon"> </span> <select
										th:field="*{quote.raza}" id="userId"
										class="form-control">
										<option th:each="oneRaza : ${razas}"
											th:value="${oneRaza.id}" th:text="${oneRaza.raza}"></option>
									</select>
								</div>

								
								</div>
								
								<div class="g-recaptcha"
									data-sitekey="6Lcq6C8UAAAAAI12y_enSlBQ8X5SfRhqAfnrIvlM"
									data-theme="dark"></div>
								<br>
								<div th:if="${isRegistro == true}">
								<button type="submit"
									class="btn btn-primary block full-width m-b">Registrar</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<th:block layout:fragment="scripts">
		<script th:src="@{/js/bootstrap.validator.min.js}"></script>
		<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
		<script th:src="@{/js/jquery.blockui.min.js}"></script>
		<script th:src="@{/js/sweetalert.min.js}"></script>
		<script th:src="@{/js/cart.js}"></script>
	</th:block>
</body>
</html>