<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="main">
<head>
    <title>PetShop - Confirmación de cuenta</title>
</head>
<body>
    <div layout:fragment="content">
        <section class="slider-area" style="background-image: url(../img/slider/4.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="slider">
                            <h2>Confirmación de cuenta</h2>
                            <p><a th:href="@{/}">Inicio </a><span>/</span> Confirmación de cuenta</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="welcome-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="welcome">
                            <h4>Establece tu contraseña</h4>
                            <div th:if="${successMessage}" class="alert alert-success" role="alert" th:text=${successMessage}></div>
                            <div th:if="${errorMessage}" class="alert alert-danger" role="alert" th:text=${errorMessage}></div>
                            <div th:if="${invalidToken}" class="alert alert-danger" role="alert" th:text=${invalidToken}></div>
                            <form th:if="!${invalidToken}" id="passwordForm" th:action="@{/confirm}" class="m-t" th:object="${setPassword}" method="post" role="form">
                                <input type="hidden" name="token" th:value=${confirmationToken}>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </span>
                                    <input id="password" name="password" class="form-control" placeholder="Contraseña" required="required" type="password">
                                    <span class="glyphicon" aria-hidden="true"></span>
                                </div>
                                <div class="form-group input-group has-feedback">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </span>
                                    <input id="signup-password-confirm" name="ConfirmPassword" class="form-control" placeholder="Confirmación de contraseña" type="password" data-fv-notempty="true" data-fv-notempty-message="Por favor confirme su contraseña" data-fv-identical="true" data-fv-identical-field="password" data-fv-identical-message="Ambas contraseñas deben ser iguales">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <button type="submit" class="btn btn-primary block full-width m-b">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <th:block layout:fragment="scripts">
    <script th:src="@{/js/fv.min.js}"></script>
    </th:block>
</body>
</html>