<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="main">
<head>
    <title>PetShop - Pedido finalizado</title>
</head>
<body>
<div layout:fragment="content">
    <section class="slider-area" style="background-image: url(../img/slider/4.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="slider">
                        <h2>Pedido finalizado</h2>
                        <p><a th:href="@{/}">Inicio </a><span>/</span> Pedido finalizado</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="welcome-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">   
                    <div class="welcome">
                        <div th:if="${message}" class="alert alert-success" role="alert" th:text="${message}"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="scripts">
    <script th:src="@{/js/bootstrap.validator.min.js}"></script>
</th:block>
</body>
</html>