<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="main">
<head>
    <title>PetShop</title>
</head>
<body>
    <div layout:fragment="content">
        <section class="welcome-area">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Majial</h2>
                    <h6><span class="flaticon-pawprint"></span></h6>
                    <div class="border"></div>
                    <p>Las nuevas tecnologías nos han traído nuevas formas de relacionarnos y, además, nuevas formas y métodos de compra a través de internet. Más cómodos, más económicos y cada vez más seguros. Sentados en nuestra casa o tirados en el sofá, podemos adquirir lo que necesitamos o queremos en un solo click. </p>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="welcome">
                            <div class="img-holder">
                                <figure><a th:href="@{/}"><img th:src="@{/img/blog/1.jpg}" alt="Images"></a></figure>
                            </div>
                            <div class="welcome-text">
                                <h4><a th:href="@{/home}">CALIDAD DE ATENCION</a><span>01</span></h4>
                                <p> En la actualidad la clínica cuenta con 6 trabajadores y entre ellos dos médicos veterinarios especializados y 2 asistentes técnicos en nuestro centro veterinario MaJiAl para cuidar su animal de compañía</p>
                                <a th:href="@{/home}">Lee Más<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="welcome">
                            <div class="img-holder">
                                <figure><a th:href="@{/home}"><img th:src="@{/img/blog/2.jpg}" alt="Images"></a></figure>
                            </div>
                            <div class="welcome-text">
                                <h4><a th:href="@{/home}">CONFIANZA</a><span>02</span></h4>
                                <p>Crear confianza con nuestra mascota es la base de todo y es el primer paso a seguir ya que conllevará a obtener mejores resultados y una interacción más recurrente entre ellos y nosotros. Sabemos que en un primer momento desconocemos cómo demostrarle que puede confiar en nosotros, sin embargo, podemos pensar en pasos a seguir para que nuestra mascota se acerque de manera progresiva y entonces, podremos enseñarle todo lo que nosotros queramos</p>
                                <a th:href="@{/home}">Lee Más<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="welcome">
                            <div class="img-holder">
                                <figure><a th:href="@{/home}"><img th:src="@{/img/blog/3.jpg}" alt="Images"></a></figure>
                            </div>
                            <div class="welcome-text">
                                <h4><a th:href="@{/home}">COMODIDAD</a><span>03</span></h4>
                                <p>Contamos con un ambiente muy agradable para nuestras mascotas, tambien con un personal de alta calidad para la atencion de los engreidos de la casa</p>
                                <a th:href="@{/home}">Lee Más<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="service-area">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Nuestros Servicios</h2>
                    <h6><span class="flaticon-pawprint"></span></h6>
                    <div class="border"></div>
          
                </div>
                <div class="row">
                    <div class="service-item">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="service hvr-float-shadow">
                                <figure><a th:href="@{/home}"><img th:src="@{/img/services/1.jpg}" alt="Images"></a>
                                </figure>
                                <div class="service-text">
                                    <div class="icon"><i class="flaticon-pawprint"></i></div>
                                   <h4><a th:href="@{/citas}">Citas</a></h4>
                                      
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="service hvr-float-shadow">
                                <figure><a th:href="@{/home}"><img th:src="@{/img/services/2.jpg}" alt="Images"></a>
                                </figure>
                                <div class="service-text">
                                    <div class="icon"><i class="flaticon-injection-needle"></i></div>
                                    <h4><a th:href="@{/home}">MEDICINA</a></h4>
                                        <p>Chequeo general</p>
                                        <p>Vacunas</p>
                                        <p>Medicina general</p>
                                        <p>Dianostigo</p>
                                        <p>Baños medicinal</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="service hvr-float-shadow">
                                <figure><a th:href="@{/home}"><img th:src="@{/img/services/3.jpg}" alt="Images"></a>
                                </figure>
                                <div class="service-text">
                                    <div class="icon"><i class="flaticon-health-care"></i></div>
                                    <h4><a th:href="@{/home}">PELUQUERIA CANINA Y FELINA</a></h4>
                                    <p>Baños</p>
                                    <p>corte de pelos</p>
                                    <p>corte de uñas</p>
                                    <p>masajes</p>
                                    <p>SPA</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="service hvr-float-shadow">
                                <figure><a th:href="@{/home}"><img th:src="@{/img/services/4.jpg}" alt="Images"></a>
                                </figure>
                                <div class="service-text">
                                    <div class="icon"><i class="flaticon-sitting-dog"></i></div>
                                    <h4><a th:href="@{/home}">ENTRENAMIENTO CANINO</a></h4>
                                    <p>Perro de guia</p>
                                    <p>Perro de señal</p>
                                    <p>Perro de aviso</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ser-img-left">
                    <img th:src="@{/img/services/1.png}" alt="Images">
                </div>
                <div class="ser-img-right">
                    <img th:src="@{/img/services/2.png}" alt="Images">
                </div>
            </div>
        </section>
    </div>
</body>
</html>