<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org" layout:decorator="main">
<head>
<title>PetShop - Ingreso</title>
<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
	<div layout:fragment="content">
		<section class="slider-area"
			style="background-image: url(../img/slider/4.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="slider">
							<h2>Ingreso</h2>
							<p>
								<a th:href="@{/}">Inicio </a><span>/</span> Ingreso
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="welcome-area">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="welcome">
							<form th:action="@{/loginPost}" th:object="${user}" class="m-t"
								method="post" role="form" data-toggle="validator">
								<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
									class="validation-message alert alert-danger" role="alert"></div>
								<div th:if="${#fields.hasErrors('password')}"
									th:errors="*{password}"
									class="validation-message alert alert-danger" role="alert"></div>
								<div class="form-group input-group has-feedback">
									<span class="input-group-addon"> <span
										class="glyphicon glyphicon-envelope"></span>
									</span> <input th:field="*{email}" class="form-control"
										placeholder="Correo electrónico" required="required"
										type="email" data-error="Correo electrónico inválido">
									<span class="glyphicon form-control-feedback"
										aria-hidden="true"></span>
								</div>
								<div class="form-group input-group has-feedback">
									<span class="input-group-addon"> <span
										class="glyphicon glyphicon-lock"></span>
									</span> <input th:field="*{password}" class="form-control"
										placeholder="Contraseña" required="required" type="password"
										data-error="Contraseña inválida"> <span
										class="glyphicon form-control-feedback" aria-hidden="true"></span>
								</div>
								<div class="g-recaptcha"
									data-sitekey="6Lcq6C8UAAAAAI12y_enSlBQ8X5SfRhqAfnrIvlM"
									data-theme="dark"></div>
								<br>
								<button type="submit"
									class="btn btn-primary block full-width m-b">Enviar</button>
							</form>
							<br>
<!-- 							<form th:action="@{/connect/facebook}" method="GET"> -->
<!-- 								<input type="hidden" name="scope" value="user_posts" />								 -->
<!-- 								<p> -->
<!-- 									<button type="submit">Entrar con Facebook</button> -->
<!-- 								</p> -->
<!-- 							</form> -->
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<th:block layout:fragment="scripts">
		<script th:src="@{/js/bootstrap.validator.min.js}"></script>


		<!-- 		<script> -->
// 			window.fbAsyncInit = function() {
// 				FB.init({
// 					appId : '2073359399591789',
// 					cookie : true,
// 					xfbml : true,
// 					version : 'v3.1'
// 				});

// 				FB.AppEvents.logPageView();

// 			};

// 			(function(d, s, id) {
// 				var js, fjs = d.getElementsByTagName(s)[0];
// 				if (d.getElementById(id)) {
// 					return;
// 				}
// 				js = d.createElement(s);
// 				js.id = id;
// 				js.src = "https://connect.facebook.net/en_US/sdk.js";
// 				fjs.parentNode.insertBefore(js, fjs);
// 			}(document, 'script', 'facebook-jssdk'));
<!-- 		</script> -->
	</th:block>
</body>
</html>