<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>PetShop</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/responsive.css}" rel="stylesheet">
<th:block layout:fragment="styles"></th:block>
<!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.min.js}"></script>
    <![endif]-->
<!--[if lt IE 9]>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
</head>
<body>
	<div class="page-wrapper">
		<div class="preloader"></div>
		<header class="main-header header-style-one">
			<section class="header-top-area">
				<div class="container">
					<div class="header">
						<div class="header_top_left">
							<ul>
								<li><a href="#"><i class="fa fa-envelope-o"
										aria-hidden="true"></i> info@petshop.com</a></li>
								<li><a href="#"><i class="fa fa-phone"
										aria-hidden="true"></i> +01 234 5678</a></li>
							</ul>
						</div>
						<div class="header_top_right">
							<ul>
								<!--                             	<li><span th:text="*{user.firstName}"></span></li> -->
								<li><a href="#"><i class="fa fa-facebook"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play"
										aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section class="main-menu-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="logo">
								<a th:href="@{/home}"><img th:src="@{/img/logo/logo.png}"></a>
							</div>
							<div class="menu clearfix">
								<nav class="main-menu pull-rigth">
									<div class="navbar-header">
										<button type="button" class="navbar-toggle"
											data-toggle="collapse" data-target=".navbar-collapse">
											<span class="icon-bar"></span> <span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<div class="navbar-collapse collapse clearfix">
										<ul class="navigation clearfix">
											<li><a th:href="@{/home}">Inicio<br></a></li>
											<li><a th:href="@{/store}">Tienda<br></a></li>
											<li><a th:href="@{/cart}">Carrito</a><span
												id="cart-count" class="badge"
												style="position: absolute; top: -5px; left: 50px;"></span></li>
											<li><a th:href="@{/login}" sec:authorize="isAnonymous()">Ingreso<br></a></li>
											<li><a th:href="@{/register}"
												sec:authorize="isAnonymous()">Registro<br></a></li>
											<li><a th:href="@{/logout}"
												sec:authorize="isAuthenticated()">Salir<br></a></li>
										</ul>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</section>
		</header>
		<th:block layout:fragment="content"></th:block>
		<footer class="footer-area">
			<div class="container">
				<div class="footer_bottom">
					<p>
						Derechos reservados &copy; <span
							th:text="${#dates.year(#dates.createNow())}"></span> PetShop
					</p>
				</div>
			</div>
		</footer>
	</div>
	<div class="scroll-to-top scroll-to-target" data-target=".main-header">
		<span class="fa fa-long-arrow-up"></span>
	</div>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/isotope.min.js}"></script>
	<script th:src="@{/js/jquery.appear.min.js}"></script>
	<script th:src="@{/js/wow.min.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<th:block layout:fragment="scripts"></th:block>
</body>
</html>