<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org" layout:decorator="main">
<head>
<title th:text="'PetShop - ' + ${product.name}"></title>
</head>
<body>
	<div layout:fragment="content">
		<section class="slider-area"
			style="background-image: url(../img/slider/4.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="slider">
							<h2 th:text="${product.name}"></h2>
							<p>
								<a th:href="@{/}">Inicio </a><span>/</span> Producto
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="product-detail-area clearfix">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-6 col-xs-12">
						<div class="single-gallery-carousel-content-box">
							<img th:src="${product.imagen}">
						</div>
					</div>
					<div class="col-md-7 col-sm-6 col-xs-12">
						<div class="product_history">
							<div class="shop-item">
								<h4 th:text="${product.name}"></h4>
								<p th:text="'S/. ' + ${product.price}"></p>
							</div>
							<div class="item_name">
								<div class="item_names">
									<p>CANTIDAD</p>
									<div class="select-input-wrapper">
										<input id="quantity" name="quantity" min="1" value="1" type="number">
									</div>
									<a class="add-to-cart" href="" th:attr="data-pk=${product.id}">AGREGAR
										AL CARRITO</a>
								</div>
							</div>
							<input th:name="${_csrf.parameterName}" th:value="${_csrf.token}"
								type="hidden">
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="product_tab">
							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#description"
									aria-expanded="true">DESCRIPCION</a></li>
							</ul>
							<div class="tab-content">
								<div id="description" class="tab-pane fade active in">
									<p th:text="${product.description}"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<th:block layout:fragment="scripts">
		<script th:src="@{/js/product.js}"></script>
	</th:block>
</body>
</html>