<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="main">
    <head>
        <title>PetShop - Registro</title>
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <script th:inline="javascript">
        
         var flag = true;
</script> 
    <body>
        <div layout:fragment="content">
            <section class="slider-area" style="background-image: url(../img/slider/4.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="slider">
                                <h2>Registro</h2>
                                <p><a th:href="@{/}">Inicio </a><span>/</span> Registro</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="welcome-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="welcome">
                                <form action="#" th:action="@{/register}" th:object="${user}" method="post" class="m-t" role="form" data-toggle="validator">
                                    <div th:if="${confirmationMessage}" class="alert alert-success" role="alert" th:text="${confirmationMessage}"></div>
                                    <div th:if="${alreadyRegisteredMessage}" class="alert alert-danger" role="alert" th:text="${alreadyRegisteredMessage}"></div>
                                    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="validation-message alert alert-danger" role="alert"></div>
                                    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message alert alert-danger" role="alert"></div>
                                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message alert alert-danger" role="alert"></div>
                                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message alert alert-danger" role="alert"></div>
                                    <div class="form-group input-group has-feedback">
                                        <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="validation-message"></label>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </span>
                                        <input type="text" th:field="*{firstName}" placeholder="Nombre(s)" class="form-control" required>
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                    <div class="form-group input-group has-feedback">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </span>
                                        <input type="text" th:field="*{lastName}" placeholder="Apellido(s)" class="form-control" required>
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                    <div class="form-group input-group has-feedback">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                        <input type="email" th:field="*{email}" placeholder="Correo electrónico" class="form-control" data-error="This email address is invalid" required>
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                    <div class="form-group input-group has-feedback">
                                        <span class="input-group-addon">
                                           
                                        </span>
                                        <select th:field="*{tipoDoc}" class="form-control" required>
                                            <option id="0" value="0">Seleccione tipo documento</option>
                                            <option id="1" value="10">DNI</option>
                                            <option id="2" value="11">RUC</option>
                                        </select>
                                    </div>
                                    <div class="form-group input-group has-feedback">
                                        <span class="input-group-addon">
                                            
                                        </span>
                                        <input type="text" th:field="*{documento}" placeholder="N° documento" class="form-control" required>
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-question-sign"></span>
                                        </span>
                                        <input type="radio"  th:field="*{genero}" value="1" style="margin-left: 20%" th:checked="${flag}"> <label style="margin-left: 2%" th:text="H"></label>
                                        <input type="radio"  th:field="*{genero}" value="2" style="margin-left: 20%" > <label style="margin-left: 2%" th:text="M"></label>
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                    <div class="form-group input-group has-feedback">
                                        <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                            <input type="text" th:field="*{fechaNac}" placeholder="Fecha de nacimiento" class="form-control" readonly="true" required>
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group input-group has-feedback">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-phone"></span>
                                        </span>
                                        <input type="text" th:field="*{celular}" placeholder="Celular" class="form-control" required>
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                    <div class="g-recaptcha" data-sitekey="6Lcq6C8UAAAAAI12y_enSlBQ8X5SfRhqAfnrIvlM" data-theme="dark"></div>
                                    <br>
                                    <button type="submit" class="btn btn-primary block full-width m-b">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    <th:block layout:fragment="scripts">
        <script th:src="@{/js/bootstrap.validator.min.js}"></script>
        <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    </th:block>
</body>
</html>