<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org" layout:decorator="main">
<head>
<title>PetShop - Tienda</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="slider-area"
			style="background-image: url(../img/slider/4.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="slider">
							<h2>Tienda</h2>
							<p>
								<a th:href="@{/}">Inicio </a><span>/</span> Tienda
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="shop-section">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12"
						th:each="product : ${products}">
						<div class="shop-item">
							<h4>
								<a th:href="'/product/' + ${product.id}"><span
									th:text="${product.name}"></span></a>
							</h4>
							<div class="item_shop">
								<img th:src="${product.imagen}">
								<div class="overlay">
									<div class="box">
										<div class="image-view">
											<a class="add-to-cart" href=""
												th:attr="data-pk=${product.id}"><i
												class="flaticon-shopping-cart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<p>
								S/. <span th:text="${product.price}"></span>
							</p>
							<input th:name="${_csrf.parameterName}" th:value="${_csrf.token}"
								type="hidden">
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<th:block layout:fragment="scripts">
		<script th:src="@{/js/store.js}"></script>
	</th:block>
</body>
</html>